.experiencia {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experiencia .subtitulo {
    background: linear-gradient(90deg, rgba(182,41,248,1) 0%, rgba(128,10,221,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 5px;
}

.experiencia-texto {
    color: #F5F5F5;
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 60px;
    margin-top: 16px;
}

.empresa {
    color:black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
    gap: 20px;
}

.empresa::before {
    content: '';
    display: block;
    width: 6px;
    height: 20px;
    background: linear-gradient(90deg, rgba(182,41,248,1) 0%, rgba(128,10,221,1) 100%);
    position: absolute;
    top: 20px;
    left: -6px;
    z-index: 1;
}

.empresa-ano {
    position: absolute;
    color: #f5f5f5;
    top: 0px;
    left: -100px;
    text-align: right;
    width: 80px;
    font-size: 1rem;
    font-weight: bold;
}


.empresa-titulo {
    font-size: 2rem;
    line-height: 1.1;
    font-weight: bold;
}

.empresa-texto {
    font-size: 0.9rem;
    line-height: 1.4;
    color: black;

}

.empresa-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: #fff;
    align-content: start;
    align-items: center;
    letter-spacing: 0.1em;
}

.empresa-habilidades li {
    font-size: 0.875rem;
    line-height: 1.4;
    border-radius: 4px;
    background: black;
    padding: 10px;
}


@media (min-width: 1200px) {
    .experiencia .subtitulo {
        font-size: 9rem;
        width: 4.5ch;
    }
}

@media (max-width: 800px) {
    .experiencia {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .subtitulo {
        display: flex;
        font-size: 3rem;
        justify-content: center;
        align-items: center;
    }

    .experiencia-texto {
        font-size: 1.25rem;
    }

    .empresa-ano {
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
        color: black;
    }

    
    .empresa-ano::before {
        content: "Período: ";
    }

}

@media (max-width: 500px) {
    .empresa {
        grid-template-columns: 1fr;
    }

    .empresa span {
        font-size: 1.25rem;
    }
}