.introducao {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
}

.introducao h1 {
    font-family: 'Playfair Display', serif;
    color: #F5F5F5;
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 10px;
    position: relative;
}

.introducao h2 {
    font-family: 'Playfair Display', serif;
    color: #F5F5F5;
    font-size: 3.5rem;
    line-height: 1.125;
}

.introducao h1::before {
    content: '';
    display: block;
    width: 130px;
    height: 100px;
    background: url(../IMG/Detalhe.svg) no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
}

.introducao p {
    color: #F5F5F5;
    font-size: 1.5rem;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
}

.curriculo {
    color: #fff;
    display: block;
    padding: 10px;
    width: 160px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(182,41,248,1) 0%, rgba(128,10,221,1) 100%);
    border-radius: 4px;
    margin-top: 20px;
  }


@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }
    .introducao h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 800px) {
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .introducao h1 {
        font-size: 2rem;
    }

    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
    }

    .introducao h2 {
        font-size: 1.5rem;
    }

    .introducao p {
        font-size: 1.2rem;
    }

}

@media (max-width: 500px) {
    .introducao {
        grid-template-columns: 1fr;
    }

    .introducao img {
        display: none;
    }
}

@media (min-width: 1200px) {
    
    body {
        margin: 60px;
        margin-top: 20px;
    }
    
    .introducao {
        max-width: 100%;
        padding: 40px 20px; 
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 300px;
    }

    .introducao img {
        width: 300px;
        height: 400px;
    }

    .introducao h1 {
        font-size: 3.5rem;
    }

    .introducao h2 {
        font-size: 2.5rem;
    }
}

@media (min-width: 100px) {
    .introducao h1 {
        font-size: 3rem;
    }

    .introducao h2 {
        font-size: 2rem;
    }
}